    <section class="why-fluid">
      <div class="container">
      {% for product in site.data.product-section %}
        <div class="row">
          <aside class="col-md-12">
            <h1 class="text-center">{{product.about-title}}</h1>
            <h4 class="text-center">{{product.about-content}}</h4>
          </aside>
        </div>
        <div class="row">
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{product.blockone-img}}" alt=""></div>
            <h2 class="text-center">{{product.blockone-title}}</h2>
            <p class="text-center">{{product.blockone-content}}</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{product.blocktwo-img}}" alt=""></div>
            <h2 class="text-center">{{product.blocktwo-title}}</h2>
            <p class="text-center">{{product.blocktwo-content}}</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{product.blockthree-img}}" alt=""></div>
            <h2 class="text-center">{{product.blockthree-title}}</h2>
            <p class="text-center">{{product.blockthree-content}}</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{product.blockfour-img}}" alt=""></div>
            <h2 class="text-center">{{product.blockfour-title}}</h2>
            <p class="text-center">{{product. blockfour-content}}</p>
          </aside>
        </div>
      </div>
      {% endfor %}
    </section>
    