    <section class="why-fluid" id="nav1">
      <div class="container">
      {% for about in site.data.about-section %}
        <div class="row">
          <aside class="col-md-12">
            <h1 class="text-center">{{about.about-title}}</h1>
            <h4 class="text-center">{{about.about-content}}</h4>
          </aside>
        </div>
        <div class="row">
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{about.blockone-img}}" alt=""></div>
            <h2 class="text-center">{{about.blockone-title}}</h2>
            <p class="text-center">{{about.blockone-content}}</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{about.blocktwo-img}}" alt=""></div>
            <h2 class="text-center">{{about.blocktwo-title}}</h2>
            <p class="text-center">{{about.blocktwo-content}}</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{about.blockthree-img}}" alt=""></div>
            <h2 class="text-center">{{about.blockthree-title}}</h2>
            <p class="text-center">{{about.blockthree-content}}</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/{{about.blockfour-img}}" alt=""></div>
            <h2 class="text-center">{{about.blockfour-title}}</h2>
            <p class="text-center">{{about.blockfour-content}}</p>
          </aside>
        </div>
      </div>
      {% endfor %}
    </section>
    