    <section class="why-fluid">
      <div class="container">
        <div class="row">
          <aside class="col-md-12">
            <h1 class="text-center">why choose us</h1>
            <h4 class="text-center">Nullam sed quam nunc. Duis ac ex a quam pulvinar iaculis. Fusce nec erat augue. Phasellus gravida auctor pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</h4>
          </aside>
        </div>
        <div class="row">
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/icon-01.jpg" alt=""></div>
            <h2 class="text-center">strict quality standards</h2>
            <p class="text-center">Aliquam sagittis elit et lorem interdum, at laoreet diam tempor. Sed diam ante, faucibus at libero nec</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/icon-01.jpg" alt=""></div>
            <h2 class="text-center">best services</h2>
            <p class="text-center">Aliquam sagittis elit et lorem interdum, at laoreet diam tempor. Sed diam ante, faucibus at libero nec</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/icon-01.jpg" alt=""></div>
            <h2 class="text-center">reasonable price</h2>
            <p class="text-center">Aliquam sagittis elit et lorem interdum, at laoreet diam tempor. Sed diam ante, faucibus at libero nec</p>
          </aside>
          <aside class="col-md-3">
            <div class="icon-holder text-center"><img src="{{site.baseurl}}/images/icon-01.jpg" alt=""></div>
            <h2 class="text-center">quick support</h2>
            <p class="text-center">Aliquam sagittis elit et lorem interdum, at laoreet diam tempor. Sed diam ante, faucibus at libero nec</p>
          </aside>
        </div>
      </div>
    </section>