 <section class="spl-fluid">
      <div class="container">
          <div class="row">
              <aside class="col-md-3"><img src="{{site.baseurl}}/images/trip-01.png" alt=""/></aside>
              <aside class="col-md-6">
                    <h1>catalogue download</h1>
                    <p>Leaf Through Our E-Brochures For A Detailed Product Information.</p>
                </aside>
                <aside class="col-md-3">
                  <a href="#" class="download-btn">contact</a>
                </aside>
            </div>
        </div>
    </section>