<section class="client-fluid">
    	<div class="container">
        	<div class="row">
    			<aside class="col-md-3">
                	<h1>Clients</h1>
                    <h4>Nullam sed quam nunc. Duis ac ex a quam pulvinar iaculis.</h4>
                </aside>
                <aside class="col-md-9">
                	<ul class="client-list">
                    	<li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </aside>
            </div>
            <div class="row">
    			<aside class="col-md-12">
                	<div class="testimonial-box">
                    	<div class="row">
                        	<aside class="col-md-10">
                            	<div class="testimonials-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet ultrices tincidunt. Donec faucibus nisi a nibh luctus, id interdum est dapibus. Praesent sit amet porttitor turpis. Donec imperdiet accumsan enim, in aliquet odio cursus et. Aliquam erat volutpat.</div>
                                <div class="testimonials-person">Jhon Mark, <span>Chennai</span></div>
                            </aside>
                            <aside class="col-md-2">
                            	<div class="photo">&nbsp;</div>
                            </aside>
                        </div>
                    </div>
                </aside>
            </div>
         </div>
    </section>