<section class="client-fluid">
  {% for client in site.data.client-section %}
    	<div class="container">
        	<div class="row">
    			<aside class="col-md-3">
                	<h1>{{client.client-title}}</h1>
                    <h4>{{client.client-title-content}}</h4>
                </aside>
                <aside class="col-md-9">
                	<ul class="client-list">
                    	<li><img src="{{site.baseurl}}/images/{{client.client-one-img}}"></li>
                        <li><img src="{{site.baseurl}}/images/{{client.client-two-img}}"></li>
                        <li><img src="{{site.baseurl}}/images/{{client.client-three-img}}"></li>
                        <li><img src="{{site.baseurl}}/images/{{client.client-four-img}}"></li>
                    </ul>
                </aside>
            </div>
            <div class="row">
    			<aside class="col-md-12">
                	<div class="testimonial-box">
                    	<div class="row">
                        	<aside class="col-md-10">
                            	<div class="testimonials-details">{{client.client-commemt}}</div>
                                <div class="testimonials-person"> {{client.client-name}}<span>{{client.client-location}}</span></div>
                            </aside>
                            <aside class="col-md-2">
                            	<div class="photo">&nbsp;</div>
                            </aside>
                        </div>
                    </div>
                </aside>
            </div>
         </div>
  {% endfor %}
    </section>