 <section class="map-fluid">
    	<div class="container">
        	<div class="row">
            	<aside class="col-md-12"><div class="title-box"><span class="icon-holder"><img src="images/map.png" alt=""/></span><span class="icon-text">Location Map</span></div></aside>
            </div>
        </div>
    	<div class="map-holder"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.7923761094835!2d76.98152841418464!3d11.054187457029402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba858746f8cf06b%3A0xb84bcffeb934b1fe!2sCRI+PUMPS+(PVT)+LTD!5e0!3m2!1sen!2sin!4v1506513921223" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </section>