          <aside class="col-md-9">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item active"> <a class="nav-link" href="{{site.baseurl}}">Home <span class="sr-only">(current)</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/#nav1">About Us</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/#nav2">Products</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/#nav3">gallery</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/blog">blog</a> </li>
                       <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}#nav4">Contact Us</a> </li>
                    </ul>
                  </div>
                </nav>
            </aside>
              <aside class="col-md-3">
              <ul class="social-media">
              {% for social in site.data.social-link %}
                    <li><a href="{{social.facebook-url}}"><img src="{{site.baseurl}}/images/facebook.png" alt=""/></a></li>
                    <li><a href="{{social.twitter-url}}"><img src="{{site.baseurl}}/images/twitter.png" alt=""/></a></li>
                    <li><a href="{{social.youtube-url}}"><img src="{{site.baseurl}}/images/youtube.png" alt=""/></a></li>
                    <li><a href="{{social.googleplus-url}}"><img src="{{site.baseurl}}/images/google.png" alt=""/></a></li>
                    {% endfor %}
                 </ul>
            </aside>s