          <aside class="col-md-9">
              <nav class="navbar navbar-expand-lg navbar-light">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                   {% for menu in site.data.menu-section %}
                    <ul class="navbar-nav">
                      <li class="nav-item active"> <a class="nav-link" href="{{site.baseurl}}">{{menu.menu1}}<span class="sr-only">(current)</span></a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/#nav1">{{menu.menu2}}</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/products">{{menu.menu3}}</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/#nav3">{{menu.menu4}}</a> </li>
                      <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/blog">{{menu.menu5}}</a> </li>
                       <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}#nav4">{{menu.menu6}}</a> </li>
                    </ul>
                      {% endfor %}
                  </div>
                </nav>
            </aside>
              <aside class="col-md-3">
              <ul class="social-media">
              {% for sociallink in site.data.social-link %}
                    <li><a href="{{sociallink.facebook-url}}"><img src="{{site.baseurl}}/images/facebook.png" alt=""/></a></li>
                    <li><a href="{{sociallink.twitter-url}}"><img src="{{site.baseurl}}/images/twitter.png" alt=""/></a></li>
                    <li><a href="{{sociallink.youtube-url}}"><img src="{{site.baseurl}}/images/youtube.png" alt=""/></a></li>
                    <li><a href="{{sociallink.googleplus-url}}"><img src="{{site.baseurl}}/images/google.png" alt=""/></a></li>
                    {% endfor %}
                 </ul>
            </aside>s