   <section class="product-fluid">
      <div class="container">
        <div class="row">
          <aside class="col-md-12">
            <h1 class="text-center">our products</h1>
            <h4 class="text-center">Nullam sed quam nunc. Duis ac ex a quam pulvinar iaculis. Fusce nec erat augue. Phasellus gravida auctor pellentesque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</h4>
          </aside>
        </div>
        <div class="row">
          <aside class="col-md-4">
            <div class="product-item"><img src="{{site.baseurl}}/images/product.jpg" class="img-fluid" alt=""/></div>
          </aside>
          <aside class="col-md-4">
            <div class="product-item"><img src="{{site.baseurl}}/images/product.jpg" class="img-fluid" alt=""/></div>
          </aside>
          <aside class="col-md-4">
            <div class="product-item"><img src="{{site.baseurl}}/images/product.jpg" class="img-fluid" alt=""/></div>
          </aside>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="navigation">
                    <a href="#" class="prev"><img src="{{site.baseurl}}/images/prev-arrow.png" alt=""/></a>
                    <a href="#" class="next"><img src="{{site.baseurl}}/images/next-arrow.png" alt=""/></a>
                </div>
            </div>
        </div>
      </div>
    </section>