   <section class="product-fluid">
      <div class="container">
       {% for product in site.data.product-section %}
        <div class="row">
          <aside class="col-md-12">
            <h1 class="text-center">{{product.product-title}}</h1>
            <h4 class="text-center">{{product.product-content}}</h4>
          </aside>
        </div>
        <div class="row">
          <aside class="col-md-4">
            <div class="product-item"><img src="{{site.baseurl}}/images/{{product.product-one}}" class="img-fluid" alt=""/></div>
          </aside>
          <aside class="col-md-4">
            <div class="product-item"><img src="{{site.baseurl}}/images/{{product.product-two}}" class="img-fluid" alt=""/></div>
          </aside>
          <aside class="col-md-4">
            <div class="product-item"><img src="{{site.baseurl}}/images/{{product.product-three}}" class="img-fluid" alt=""/></div>
          </aside>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="navigation">
                    <a href="#" class="prev"><img src="{{site.baseurl}}/images/prev-arrow.png" alt=""/></a>
                    <a href="#" class="next"><img src="{{site.baseurl}}/images/next-arrow.png" alt=""/></a>
                </div>
            </div>
        </div>
      </div>
    </section>