    <section class="head-top">
      <div class="container">
      {% for social in site.data.top-social %}
        <div class="row">
          <aside class="col-md-12">
            <div class="phone">{{social.phone-number}}</div>
            <div class="location">{{social.address}}</div>
          </aside>
        </div>
      </div>
    </section>
    <section class="head-bottom">
      <div class="container">
        <div class="row">
          <aside class="col-md-5"><a href="" class="logo">{{social.logo}}</a></aside>
            <aside class="col-md-3"><div class="head-box"><div class="icon"><img src="images/head-phone.png" alt=""/></div><div class="text">Call Us <br /><span>{{social.phone-number}}</span></div></div></aside>
            <aside class="col-md-4"><div class="head-box"><div class="icon"><img src="images/head-email.png" alt=""/></div><div class="text">Email Us <br /><span>{{social.email}}</span></div></div></aside>
        </div>
        {% endfor %}