<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>a
<![endif]-->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/custom-styles.css">
</head>
<body>
<div class="">
<header>
{% include top-social.html %}
<div class="row menu-bar">
{% include menu-section.html %}
          
</div>
</div>
</section>
</header>
  
{{content}}


{% include footer-section.html %}

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
<script src="{{site.baseurl}}/js/popper.min.js"></script> 
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>