<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>a
<![endif]-->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/custom-styles.css">
</head>
<body>
<div class="">
<header>
{% include top-social.html %}
<div class="row menu-bar">
{% include menu-section.html %}
</div>
</div>
</section>
</header>
  
{{content}}


  <footer>
    <div class="container">
      <div class="row">
          <aside class="col-md-4">
              <div class="foot-box">
                  <aside class="social-box">
                      <ul class="social-media">
                          <li>Follow Us</li>
                           {% for sociallink in site.data.social-link %}
                    <li><a href="{{sociallink.facebook-url}}"><img src="{{site.baseurl}}/images/facebook.png" alt=""/></a></li>
                    <li><a href="{{sociallink.twitter-url}}"><img src="{{site.baseurl}}/images/twitter.png" alt=""/></a></li>
                    <li><a href="{{sociallink.youtube-url}}"><img src="{{site.baseurl}}/images/youtube.png" alt=""/></a></li>
                    <li><a href="{{sociallink.googleplus-url}}"><img src="{{site.baseurl}}/images/google.png" alt=""/></a></li>
                    {% endfor %}
                        </ul>
                    </aside>
                     {% for social in site.data.top-social %}
                  <aside class="address">
                        <div class="location">{{social.address}}</div>
                        <div class="phone">{{social.phone-number}}</div>
                        <div class="mobile">{{social.mobile-number}}</div>
                        <div class="email">{{social.mobile-number}}</div>
                    </aside>
                  {% endfor %}
                </div>
            </aside>
            <aside class="col-md-4">
              <h3>Blog</h3>
                <ul class="foot-links">
                 {% for post in site.post %}
                  <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
                  {% endfor %}  
                </ul>
            </aside>
            {% for social in site.data.social-link %}
            <aside class="col-md-4">
              <h3>Facebook</h3>
                <div class="fbpage"><img src="{{site.baseurl}}/images/{{social.footer-facebook-img}}" class="img-fluid" alt=""/></div>
            </aside>
             {% endfor %}
        </div>
        <div class="row">
          <aside class="col-md-12 text-center copy-rights">Copyright 2016 &copy; Grindcut Abrasives. All Rights Reserved.</aside>
        </div>
    </div>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
<script src="{{site.baseurl}}/js/popper.min.js"></script> 
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>